div{
	width: 200px;
	height: 200px;
}

#primero{
	background-color: #ff0000;
}

#segundo{
	background-color: #00ff00;
}

#tercero{
	background-color: #0000ff;
}

#cuarto{
	background-color: #bababa;
}

#quinto{
	background-color: #000;
}